@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{

    --text-primary:#0e0e0e;
    --text-seconday:#333333;
    --bg-color:#f4f0f0;
}

*{
    margin: 0px;
    padding: 0px;
}
h1,
h2 {
    margin-top: 10px;
}

.important {
    font-weight: bold;
}

body {
    /* font-family: Georgia, serif;  */
    /* margin: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    color: var(--text-primary);
    background-color: var(--bg-color);
}
.main{
    
    max-width: 50rem;
}
h1,
h2,
h3 {
    text-align: start;
    /* Titles centered for a clean look */
}

h1 {
    font-size: 2em;
    /* Increase font size for emphasis */
}

h2,
h3 {
    font-size: 1.5em;
}

.important {
    font-weight: bold;
    border-radius: 1rem;
    color: #75161b;
    /* Highlight important points with a subtle color */
}

.imp2 {
    background-color: #ca0f18;
    color: white;
    padding: 0px 1rem;
}



.headline {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 3.5rem;
    font-weight: 800;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 0.4rem;


}

.subHeading {
    font-family: "Rubik", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-seconday);
    line-height: 2.1rem;
    text-align: center;
    margin-top: 1.3rem;
}

.subHeading2 {
    font-family: "Rubik", sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--text-primary);
    text-align: start;
}

.heading {
    font-family: "Rubik", sans-serif;
    font-size: 1.9rem;
    font-weight: 700;
    margin-top: 1.2rem;
    margin-bottom: 0.2rem;
    color: var(--text-seconday);
}

.para {
    font-family: "Rubik", sans-serif;
    font-size: 1.3rem;
    /* font-weight: 700; */
    margin-top: 0px;
    color: var(--text-primary);

}

ul,ol {
    font-family: "Rubik", sans-serif;
    font-size: 1.2rem;
    margin: 1rem 1rem;
    background-color: #eae6e6;
    padding: 0.6rem 0.9rem ;
    border-radius: 1rem;
}
li{
    margin: 0.5rem 1rem;

}
ol li ul{
    padding: 0;
    margin: 0.5rem 0.5rem;
}
ul li ul{
    margin: 0px;
}
ol li::marker { font-size: 1.3rem; }
ol{
    padding: 0.6rem 1.5rem;
}
.no-margin{
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
}
.no-margin li{
    margin: 0.25rem 0.5rem;
}

@media only screen and (max-width: 768px) {
    body {
        /* font-family: Georgia, serif;  */
        /* margin: 20px; */
        line-height: 1.3;
        color: #333;
    }

    .headline {
        font-family: "Bricolage Grotesque", sans-serif;
        font-size: 2.1rem;
        font-weight: 700;
        line-height: 1;

    }

    .subHeading {
        line-height: 1.4;
        font-family: "Rubik", sans-serif;
        font-size: 1.1rem;
        font-weight: 500;
        text-align: center;
        margin: 0rem 1.2rem;
        margin-top: 1rem;
    }

    .subHeading2 {
        font-family: "Rubik", sans-serif;
        font-size: 1.2rem;
        font-weight: 600;
        text-align: start;
        margin: 0rem 1.2rem;
        margin-top: 0.8rem;
    }

    .heading {
        font-family: "Rubik", sans-serif;
        font-size: 1.4rem;
        font-weight: 700;
        margin-top: 1rem;
        margin-bottom: 0px;
        margin-left: 1.3rem;
    }

    .para {
        font-family: "Rubik", sans-serif;
        font-size: 1.2rem;
        /* font-weight: 700; */
        margin-top: 1rem;
        margin-bottom: 0px;
        margin: 0rem 1.2rem;

    }

    ul,ol {
        font-family: "Rubik", sans-serif;
        font-size: 1.2rem;
        margin: 1rem 1rem;
    }
    ul li ul{
        margin: 0px;
        margin-top: 0.4rem;
        padding: 0px;
    }
    
    ul li, ul p{
        margin: 0rem 0.7rem !important;
    }
}